﻿<ion-header-bar class="bar bar-header bar-stable">
    <h2 class="title">Contacts</h2>
</ion-header-bar>

<ion-content>
    <div class="root">
        <div class="contacts" ng-show="viewModel.hasContacts === null">
            <p>
                Loading contacts ...
            </p>
            <p>
                <ion-spinner icon="android"></ion-spinner>
            </p>
        </div>

        <div class="contacts" ng-show="viewModel.hasContacts === false">
            No contacts found.
        </div>

        <div ng-show="viewModel.contacts.length > 0">
            <ul ng-repeat="contact in viewModel.contacts">
                <li>
                    <div class="row">
                        <div class="col text-left">
                            {{ contact.FirstName }}
                        </div>
                        <div class="col text-right top-padding">
                            <button ng-disabled="!contact.IsOnline" 
                                    class="button button-small button-outline button-positive button-width130"
                                    ng-click="viewModel.startTracking(contact)">
                                <span ng-if="contact.IsOnline">start tracking</span>
                                <span ng-if="!contact.IsOnline">user offline</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>