﻿<ion-content>
    <google-maps></google-maps>
</ion-content>

<!--<ion-footer-bar class="bar-dark">
    <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
</ion-footer-bar>-->
