﻿<ion-header-bar class="bar bar-header bar-stable">
    <h2 class="title">Registration</h2>
</ion-header-bar>

<form class="regForm" name="regForm">
    <div class="col">
        <label class="item item-input">
            <input type="text" placeholder="Name" autofocus
                   ng-model="viewModel.user.FirstName" required ng-required="Field required!" />
        </label>
    </div>

    <div class="row item-note">
        Enter you phone number
    </div>

    <div class="col">
        <select ng-model="viewModel.user.CountryCode">
            <option ng-repeat="i in viewModel.countriesInfo"
                    ng-selected="{{i.alpha2 === viewModel.user.CountryCode}}"
                    value="{{ i.alpha2 }}">
                {{i.name}} ({{i.countryCallingCodes[0]}})
            </option>
        </select>
    </div>

    <div class="col">
        <label class="item item-input">
            <input type="number"
                   placeholder="Without country code"
                   ng-model="viewModel.user.Phone.Number" required ng-required="Field required!" />
        </label>
    </div>

    <!--<div class="row item-note">
        Without country code
    </div>-->

    <div class="row">
        <button class="button button-large button-full button-register"
                ng-disabled="!viewModel.user.FirstName || !viewModel.user.Phone.Number"
                ng-click="viewModel.register()">
            <span>Register</span>
        </button>
    </div>
</form>

